/* Variables */

:root {

  --cor-branco: #FFFFFF;
  --cor-preto: #000000;
  --cor-azul-consultoria: #000AFA;
  --cor-verde-consultoria: #21da49;
  --cor-azul-index: #0009FF;
  --cor-rosa-index: #D20046;
  --fonte-bold: 'markProBold';
  --fonte-regular: 'markProRegular';

}
