/* <footer> */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 80px;
  width: 100%;
  background-color: var(--cor-preto);
} 

footer img {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  fill: var(--cor-branco);
  margin-right: auto;
}

footer p {
  font-family: var(--fonte-bold);
  font-size: clamp(0.8rem, 3vw, 1rem);
  color: var(--cor-branco);
  line-height: 1.7;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
    text-align: center;
    padding: 50px 30px;
  } 
  footer img {
    margin-right: 0;
  }
  footer p {
    width: 100%;
    max-width: 280px;
    padding: 15px 0 0 0;
  }
}