/* <section class="minutos"> */

section.minutos {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 150vh;
  background-color: var(--cor-azul-consultoria);
  padding: 80px 80px 250px 80px;
}

section.minutos img.divisor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

section.minutos img.edu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 60%;
  z-index: 2;
  animation: mexendoEduMinutos 10s linear infinite;
}

@keyframes mexendoEduMinutos {
  0% {
    top: 0;
    right: 0;
    transform: scale(1);
  }
  50% {
    top: 150px;
    right: -50px;
    transform: scale(0.9);
  }
  100% {
    top: 0;
    right: 0;
    transform: scale(1);
  }
}

section.minutos h2 {
  font-family: var(--fonte-bold);
  font-size: clamp(2rem, 3vw, 3.5rem);
  color: var(--cor-branco);
  line-height: 1.5;
  width: 100%;
  max-width: 40%;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.minutos {
    min-height: auto;
    padding: 550px 30px 80px 30px;
  }
  section.minutos img.edu {
    max-width: 100%;
    top: 50px;
  }
  @keyframes mexendoEduMinutos {
    0% {
      top: 50px;
      right: 0;
      transform: scale(1);
    }
    50% {
      top: 100px;
      right: -30px;
      transform: scale(0.9);
    }
    100% {
      top: 50px;
      right: 0;
      transform: scale(1);
    }
  }
  section.minutos h2 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    max-width: 100%;
    max-width: 200px;
  }
}
