/* <section class="resultado"> */

section.resultado {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-branco);
  padding: 50px 80px;
}

section.resultado .imagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

section.resultado .imagens img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
}

section.resultado .imagens img.antes {
  transform: rotate(-10deg);
  margin: 0 100px 150px 0;
}

section.resultado .imagens img.depois {
  transform: rotate(10deg);
}

section.resultado .imagens p {
  font-family: var(--fonte-bold);
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  color: var(--cor-preto);
}

section.resultado .imagens p.antes {
  padding: 0 300px 0 0;
}

section.resultado .imagens p.depois {
  padding: 0 0 0 300px;
}

section.resultado .texto {
  width: 50%;
  padding: 0 0 0 100px;
}

section.resultado .texto h2 {
  font-family: var(--fonte-bold);
  font-size: clamp(2rem, 3vw, 3.5rem);
  color: var(--cor-preto);
  margin: 50px 0 0 0;
}

section.resultado .texto h2.um {
  margin: 0;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.resultado {
    flex-direction: column;
    padding: 50px 30px 80px 30px;
  }
  section.resultado .imagens {
    width: 100%;
  }
  section.resultado .imagens img {
    border-radius: 10px;
  }
  section.resultado .imagens img.antes {
    transform: rotate(-5deg);
    margin: 0 0 50px 0;
  }
  section.resultado .imagens img.depois {
    transform: rotate(5deg);
  }
  section.resultado .imagens p.antes {
    padding: 0 200px 0 0;
  }
  
  section.resultado .imagens p.depois {
    padding: 0 0 0 200px;
  }
  
  section.resultado .texto {
    width: 100%;
    padding: 80px 0 0 0;
  }
  section.resultado .texto h2 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin: 40px 0 0 0;
  }
}
